{tasks:[{id:'task-1',title:'Купить молоко',isDone:false},{id:'task-2',title:'Погладить кота',isDone:true},{id:'task-3',title:'Купить макдак',isDone:false}],$schema:'./node_modules/json-server/schema.json'}